@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* 
=== VARIABLES ===
 */

:root {
  /* colors */
  --bg-primary: #96ae00;
  --bg-secondry: #2a6e5a;

  /* fonts color */

  --bg-dark: #000;
  --text-light: #2d2a6e;
  --bg-white: #fff;
}

/* 
=== RESET PROPORTY ===
 */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #f2f2f6;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-primary);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 
=== REUSABLE CODE ===
 */

.mainBtn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--bg-primary);
  background-color: var(--bg-primary);
  padding: 0.85rem 1.95rem;
  border-radius: 100vw;
  color: var(--bg-white);
  transition: all 0.3s ease-in-out;
}

.mainBtn:hover {
  background-color: var(--bg-secondry);
}

/* 
=== HEADER SECTION ===
 */

.headerSection {
  padding: 0.5rem 0;
  background-color: var(--bg-white);
}

.headerSection .navbar .nav-link {
  margin-left: 1rem;
  color: var(--bg-secondry);
  transition: all 0.3s ease-in-out;
}

.headerSection .navbar .nav-link.active,
.headerSection .navbar .nav-link:hover {
  color: var(--bg-primary);
}

.headerSection .navbar .navbar-toggler {
  border: 0;
  color: var(--bg-dark);
}

.headerSection .navbar .navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}

/* HERO SECTION */

.heroSection {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSection .carousel {
  margin: auto;
  width: 90%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSection .carousel .item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.heroSection .carousel .item .itemImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSection .carousel .item .itemContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection .carousel .item .itemContent .title {
  font-weight: 800;
  color: var(--text-light);
}

.carousel-control-next,
.carousel-control-prev {
  width: 2%;
}

.carousel-control-prev-icon {
  background-image: url(../img/rightArrow.svg);
}

.carousel-control-next-icon {
  background-image: url(../img/leftArrow.svg);
}

/* food list */

.foodList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  background-color: var(--bg-primary);
  padding: 2rem;
}

.foodList .listItem {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem;
  border-radius: 1rem;
  gap: 1rem;
}

.foodList .listItem .listImage img {
  border-radius: 50%;
}

.foodList .listItem .listContent .title {
  font-weight: 700;
  color: var(--bg-secondry);
}

/* offer Section  */

.offerSection {
  margin-block: 100px;
}

.offerSection .sectionHeading {
  text-align: center;
  margin-bottom: 3rem;
}

.offerSection .sectionHeading .subtitle {
  color: var(--bg-primary);
  font-weight: 700;
  text-transform: uppercase;
}

.offerSection .sectionHeading .title {
  font-weight: 700;
  color: var(--text-light);
}

.offerSection .offerContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.offerSection .offerContainer .item {
  background-color: #f7f7f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}

.offerSection .offerContainer .item .itemImage {
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  position: relative;
}

.offerSection .offerContainer .item .itemImage .tags {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  gap: 0.5rem;
}

.offerSection .offerContainer .item .itemImage .tags .tag {
  background-color: #12b7ce;
  color: #fff;
  padding: 0.3rem 0.8rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  border-radius: 0.4rem;
}

.offerSection .offerContainer .item .itemImage .tags .tag:last-child {
  color: crimson;
  background-color: #ffe2e9;
}

.offerSection .offerContainer .item .itemContent {
  padding: 0.5rem 1rem;
}

.offerSection .offerContainer .item .itemContent .cate {
  color: #6b6b6b;
  margin-bottom: 0.5rem;
}

.offerSection .offerContainer .item .itemContent .title {
  font-size: 1.2rem;
}

.offerSection .offerContainer .item .itemContent .reviewImage {
  width: 100%;
  margin-bottom: 1rem;
}

.offerSection .offerContainer .item .itemContent .price {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.offerSection .offerContainer .item .itemContent .price .oldPrice {
  margin-bottom: 0;
  font-weight: 700;
  text-decoration: line-through;
  color: #6b6b6b;
}

.offerSection .offerContainer .item .itemContent .price .mainPrice {
  font-weight: 700;
  color: crimson;
  margin-bottom: 0;
}

/* about section */

.aboutSection {
  margin-bottom: 100px;
  background-color: #fff;
  padding: 5rem 0;
}

.aboutSection .aboutRow {
  justify-content: center;
  align-items: center;
}

.aboutSection .aboutContent .title {
  font-weight: 700;
  color: var(--text-light);
  font-size: 3rem;
}

.aboutSection .aboutContent .subtitle {
  color: var(--bg-primary);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.aboutSection .aboutContent .aboutAction {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.aboutSection .aboutContent .aboutAction .greenBtn {
  background-color: var(--text-light);
  border-color: var(--text-light);
}

/* hot section */

.hotSection {
  margin-bottom: 100px;
}

.hotSection .food {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9)),
    url(../img/hot1.png);
  background-size: cover;
  background-position: center;
  height: 270px;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hotSection .food.food2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9)),
    url(../img/hot2.png);
}

.hotSection .food.food3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9)),
    url(../img/hot3.png);
}

.hotSection .food .subtitle {
  color: #ffd600;
  text-transform: uppercase;
  margin-bottom: 0;
}

.hotSection .food .title {
  color: #fff;
  margin-bottom: 0;
  font-size: 1.35rem;
  font-weight: 700;
}

.hotSection .food .text {
  margin-bottom: 0;
  color: #fff;
}

/* about 2 */

.orderSection {
  background-color: #12b7ce;
}

.orderSection .aboutContent .subtitle,
.orderSection .aboutContent .title,
.orderSection .aboutContent .text {
  color: var(--bg-white);
}

.orderSection .aboutImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer section */

.footer-section {
  padding: 60px 0;
}

.footer-section a,
.footer-section a:hover,
.footer-section a:focus,
.footer-section a:active {
  text-decoration: none;
  outline: none;
}

.footer-section a,
.footer-section a:active,
.footer-section a:focus {
  color: #6f6f6f;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-section img {
  max-width: 100%;
  height: auto;
}
.footer-section {
  background-color: #282e00;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.footer-section .footer-top {
  padding-top: 96px;
  padding-bottom: 50px;
}
.footer-section .footer-top p,
.footer-section .company-footer-contact-list li {
  color: #ffffff;
}
.company-footer-contact-list {
  margin-top: 10px;
}
.company-footer-contact-list li {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.company-footer-contact-list li + li {
  margin-top: 5px;
}
.company-footer-contact-list li i {
  margin-right: 10px;
  font-size: 20px;
  display: inline-block;
}

.footer-top .site-logo {
  margin-bottom: 25px;
  display: block;
  max-width: 170px;
}
.widget-title {
  text-transform: capitalize;
}
.footer-top .widget-title {
  color: #ffffff;
  margin-bottom: 1rem;
}
.courses-link-list li + li {
  margin-top: 10px;
}
.courses-link-list li a {
  color: #ffffff;
  text-transform: capitalize;
  font-family: var(--para-font);
  font-weight: 400;
}
.courses-link-list li a:hover {
  color: var(--bg-primary);
}
.courses-link-list li i {
  margin-right: 5px;
}
.footer-top .small-post-title a {
  font-family: var(--para-font);
  color: #ffffff;
  font-weight: 400;
}
.small-post-item .post-date {
  color: var(--bg-primary);
  margin-bottom: 3px;
  font-family: var(--para-font);
  font-weight: 400;
}
.small-post-list li + li {
  margin-top: 30px;
}
.news-letter-form {
  margin-top: 15px;
}
.news-letter-form input {
  width: 100%;
  padding: 12px 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
}
.news-letter-form input[type="submit"] {
  width: auto;
  border: none;
  background-color: var(--bg-primary);
  padding: 9px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #ffffff;
  margin-top: 10px;
}
.footer-bottom {
  padding: 13px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.149);
}
.copy-right-text {
  color: #ffffff;
}
.copy-right-text a {
  color: var(--bg-primary);
}
.terms-privacy li + li {
  margin-left: 30px;
}
.terms-privacy li a {
  color: #ffffff;
  position: relative;
}
.terms-privacy li a:after {
  position: absolute;
  content: "-";
  color: #ffffff;
  display: inline-block;
  top: 0;
  right: -18px;
}
.terms-privacy li + li a:after {
  display: none;
}

/* weekly section */

.weekSection {
  margin-bottom: 100px;
}

.weekSection .sectionHeading {
  text-align: center;
  margin-bottom: 3rem;
}

.weekSection .sectionHeading .subtitle {
  color: var(--bg-primary);
  font-weight: 700;
  text-transform: uppercase;
}

.weekSection .sectionHeading .title {
  font-weight: 700;
  color: var(--text-light);
}

.weekSection .weekCard {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.weekSection .weekCard .cardImage img {
  width: 100%;
  height: auto;
}

.weekSection .weekCard .weekContent .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 0.5rem;
}

.weekSection .weekCard .weekContent .heading .date {
  margin-bottom: 0;
  color: #8d8d8d;
  font-size: 0.85rem;
}

.weekSection .weekCard .weekContent .heading .icon i {
  color: #8d8d8d;
}

.weekSection .weekCard .weekContent .title {
  font-size: 1rem;
  font-weight: 700;
}

.weekSection .weekCard .weekContent .text {
  color: #8d8d8d;
  font-size: 0.85rem;
}

.weekSection .weekCard .weekContent .read {
  display: inline-block;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 600;
  color: #000;
}
